In [3]:
### Querying MySQL database tractortek ###

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('mysql+pymysql://root:pw123@localhost/tractortek')

df=pd.read_sql('prod_info', engine)
print(df.head())

    prod_id                   prod_name prod_manufc   esp_id
0  PROD_001              Gator XUV 590M  John Deere  ESP_001
1  PROD_002                       CUV82         Cat  ESP_002
2  PROD_003   1025R Sub-Compact Tractor  John Deere  ESP_003
3  PROD_004  CT1021 Sub-Compact Tractor      Bobcat  ESP_004
4  PROD_005                   UV34 Gas       Bobcat  ESP_005

In [5]:
df=pd.read_sql('prod_sales', engine)
print(df.head(20))

    sales_id   prod_id  emp_id  year week  quantity
0          1  PROD_001  EMP244  2021   W0        23
1          2  PROD_001  EMP244  2021   W1        27
2          3  PROD_001  EMP244  2021   W2        37
3          4  PROD_001  EMP244  2021   W3        47
4          5  PROD_001  EMP244  2021   W4        42
5          6  PROD_001  EMP244  2021   W5        55
6          7  PROD_001  EMP244  2021   W6        59
7          8  PROD_001  EMP244  2021   W7        66
8          9  PROD_001  EMP244  2021   W8        91
9         10  PROD_001  EMP244  2021   W9        70
10        11  PROD_001  EMP244  2021  W10        62
11        12  PROD_001  EMP244  2021  W11        30
12        13  PROD_001  EMP244  2021  W12        47
13        14  PROD_001  EMP244  2021  W13        49
14        15  PROD_001  EMP244  2021  W14        44
15        16  PROD_001  EMP244  2021  W15        74
16        17  PROD_001  EMP244  2021  W16        87
17        18  PROD_001  EMP244  2021  W17       113
18        19  PROD_001  EMP244  2021  W18        94
19        20  PROD_001  EMP244  2021  W19        87

In [6]:
df=pd.read_sql('warranty_sales', engine)
print(df.head(10))

   sales_id   esp_id  emp_id  year week  quantity
0         1  ESP_001  EMP234  2020   W0         3
1         2  ESP_001  EMP234  2020   W1         3
2         3  ESP_001  EMP234  2020   W2         3
3         4  ESP_001  EMP234  2020   W3         6
4         5  ESP_001  EMP234  2020   W4        12
5         6  ESP_001  EMP234  2020   W5         7
6         7  ESP_001  EMP234  2020   W6         6
7         8  ESP_001  EMP234  2020   W7         7
8         9  ESP_001  EMP234  2020   W8         5
9        10  ESP_001  EMP234  2020   W9         3

C:\Users\mdbro\anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\reflection.py:62: SAWarning: Unknown schema content: '  KEY `esp_id` (`esp_id`) /*!80000 INVISIBLE */,'
  util.warn("Unknown schema content: %r" % line)

In [8]:
df=pd.read_sql('warranty_prices', engine)
print(df.head(8))

   id   esp_id  price_2020  price_2021
0   1  ESP_006         372         450
1   2  ESP_005         843         989
2   3  ESP_004         843         989
3   4  ESP_007        1027        1100
4   5  ESP_002         843         989
5   6  ESP_001         843         989
6   7  ESP_008         843         989
7   8  ESP_003         978        1010

In [9]:
df=pd.read_sql('employees', engine)
print(df.head())

   emp_id              name paygrade region
0  EMP234    Bachmann, Jane      C13     NW
1  EMP244       Evans, Gina      C12     NW
2  EMP256     Lawson, Harry      C11     NW
3  EMP267  Clement, Beverly      C14     SW
4  EMP290      Allen, Maude      C12     SW

In [12]:
df=pd.read_sql('prod_prices',engine)
print(df.head(25))

    id   prod_id quarter  year  price
0    1  PROD_006      Q1  2020   4575
1    2  PROD_006      Q2  2020   4575
2    3  PROD_006      Q3  2020   4575
3    4  PROD_006      Q4  2020   4669
4    5  PROD_006      Q1  2021   4949
5    6  PROD_006      Q2  2021   4949
6    7  PROD_006      Q3  2021   4949
7    8  PROD_006      Q4  2021   5100
8    9  PROD_005      Q1  2020  13995
9   10  PROD_005      Q2  2020  13995
10  11  PROD_005      Q3  2020  13995
11  12  PROD_005      Q4  2020  14550
12  13  PROD_005      Q1  2021  16525
13  14  PROD_005      Q2  2021  16525
14  15  PROD_005      Q3  2021  16525
15  16  PROD_005      Q4  2021  17010
16  17  PROD_004      Q1  2020  11385
17  18  PROD_004      Q2  2020  11385
18  19  PROD_004      Q3  2020  11385
19  20  PROD_004      Q4  2020  11999
20  21  PROD_004      Q1  2021  12220
21  22  PROD_004      Q2  2021  12220
22  23  PROD_004      Q3  2021  12220
23  24  PROD_004      Q4  2021  12999
24  25  PROD_007      Q1  2020  22987